[tool.poetry]
name = "blint"
version = "1.0.18"
description = "Linter for binary files powered by lief"
authors = ["Prabhu Subramanian <prabhu@ngcloud.io>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://git.sr.ht/~prabhu/blint"
repository = "https://git.sr.ht/~prabhu/blint"
keywords = ["linter", "binary", "security", "sast"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Topic :: Utilities",
    "Topic :: Security",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Operating System :: OS Independent",
]
include = ["blint/data/*.yml"]

[tool.poetry.urls]
"Mailing List" = "https://lists.sr.ht/~prabhu/blint-community"
"CI" = "https://builds.sr.ht/~prabhu/blint"

[tool.poetry.scripts]
blint = 'blint.cli:main'

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
lief = "^0.12.1"
rich = "^12.3.0"
PyYAML = "^6.0"
defusedxml = "^0.7.1"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
black = "^22.3.0"
flake8 = "^4.0.1"
pytest-cov = "^3.0.0"
pyinstaller = "^5.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
