[tool.poetry]
name = "blint"
version = "1.0.33-beta.3"
description = "Linter for binary files powered by lief"
authors = ["Prabhu Subramanian <prabhu@appthreat.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/AppThreat/blint"
repository = "https://github.com/AppThreat/blint"
keywords = ["linter", "binary", "security", "sast"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Topic :: Utilities",
    "Topic :: Security",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
]
include = ["blint/data/*.yml"]

[tool.poetry.urls]
"CI" = "https://github.com/AppThreat/blint/actions"

[tool.poetry.scripts]
blint = 'blint.cli:main'

[tool.poetry.dependencies]
python = ">=3.7,<3.12"
lief = "^0.12.3"
rich = "^13.4.1"
PyYAML = "^6.0"
defusedxml = "^0.7.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.3.1"
black = "^23.3.0"
flake8 = "^4.0.1"
pytest-cov = "^4.0.0"
pyinstaller = "^5.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
