name: binary tests

on:
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: false
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13']
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - name: Linux packages
      run: |
        sudo apt-get update
        sudo apt-get install zlib1g-dev libzstd-dev llvm-18 llvm-18-dev
      if: runner.os == 'Linux'
    - name: Packages
      run: |
        brew install llvm@18
        echo /opt/homebrew/opt/llvm@18/bin >> $GITHUB_PATH
      if: runner.os == 'macOS'
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: 1.69.0
      if: runner.os == 'Windows'
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Install poetry
      run: |
        python3 -m pip install poetry
    - name: Install all
      run: |        
        poetry install --all-groups --all-extras
      if: runner.os == 'Linux'
      env:
        NYXSTONE_LLVM_PREFIX: /usr/lib/llvm-18
    - name: Install all
      run: |        
        poetry install --all-groups --all-extras
      if: runner.os == 'macOS'
      env:
        NYXSTONE_LLVM_PREFIX: /opt/homebrew/opt/llvm@18
        LDFLAGS: "-L/opt/homebrew/lib"
        CPPFLAGS: "-I/opt/homebrew/include"
    - name: Install all
      run: |        
        poetry install --without=extended
      if: runner.os == 'Windows'
    - name: Test binaries
      run: |
        mkdir -p bintests gobintests rusttests
        cd bintests
        curl -LO https://github.com/owasp-dep-scan/dosai/releases/download/v0.1.1/Dosai.exe
        curl -LO https://github.com/owasp-dep-scan/dosai/releases/download/v0.1.1/Dosai
        curl -LO https://github.com/owasp-dep-scan/dosai/releases/download/v0.1.1/Dosai-osx-arm64
        cd ..
        cd gobintests
        curl -LO https://github.com/containerd/containerd/releases/download/v1.7.14/containerd-1.7.14-linux-amd64.tar.gz
        curl -LO https://github.com/containerd/nerdctl/releases/download/v1.7.4/nerdctl-1.7.4-windows-amd64.tar.gz
        tar -xvf containerd-1.7.14-linux-amd64.tar.gz
        tar -xvf nerdctl-1.7.4-windows-amd64.tar.gz
        rm containerd-1.7.14-linux-amd64.tar.gz
        rm nerdctl-1.7.4-windows-amd64.tar.gz
        cd ..
        cd rusttests
        curl -LO https://github.com/BurntSushi/ripgrep/releases/download/14.1.0/ripgrep-14.1.0-x86_64-unknown-linux-musl.tar.gz
        curl -LO https://github.com/BurntSushi/ripgrep/releases/download/14.1.0/ripgrep-14.1.0-x86_64-apple-darwin.tar.gz
        curl -LO https://github.com/BurntSushi/ripgrep/releases/download/14.1.0/ripgrep-14.1.0-x86_64-pc-windows-gnu.zip
        tar -xvf ripgrep-14.1.0-x86_64-unknown-linux-musl.tar.gz
        rm ripgrep-14.1.0-x86_64-unknown-linux-musl.tar.gz
        tar -xvf ripgrep-14.1.0-x86_64-apple-darwin.tar.gz
        rm ripgrep-14.1.0-x86_64-apple-darwin.tar.gz
        unzip ripgrep-14.1.0-x86_64-pc-windows-gnu.zip
        rm ripgrep-14.1.0-x86_64-pc-windows-gnu.zip
        cd ..
        poetry run blint sbom -i bintests -o reports/bom-bin.json --deep
        poetry run blint sbom -i gobintests -o reports/bom-go.json --deep
        poetry run blint sbom -i rusttests -o reports/bom-rust.json --deep
      env:
        SCAN_DEBUG_MODE: "debug"
      shell: bash
