name: binary tests

on:
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: false
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12']
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Install poetry
      run: |
        python3 -m pip install poetry
        poetry install
    - name: Test binaries
      run: |
        mkdir -p bintests gobintests rusttests
        cd bintests
        wget -q https://github.com/owasp-dep-scan/dosai/releases/download/v0.1.1/Dosai.exe
        wget -q https://github.com/owasp-dep-scan/dosai/releases/download/v0.1.1/Dosai
        wget -q https://github.com/owasp-dep-scan/dosai/releases/download/v0.1.1/Dosai-osx-arm64
        cd ..
        cd gobintests
        wget -q https://github.com/containerd/containerd/releases/download/v1.7.14/containerd-1.7.14-linux-amd64.tar.gz
        wget -q https://github.com/containerd/nerdctl/releases/download/v1.7.4/nerdctl-1.7.4-windows-amd64.tar.gz
        tar -xvf containerd-1.7.14-linux-amd64.tar.gz
        tar -xvf nerdctl-1.7.4-windows-amd64.tar.gz
        rm containerd-1.7.14-linux-amd64.tar.gz
        rm nerdctl-1.7.4-windows-amd64.tar.gz
        cd ..
        cd rusttests
        wget -q https://github.com/BurntSushi/ripgrep/releases/download/14.1.0/ripgrep-14.1.0-x86_64-unknown-linux-musl.tar.gz
        wget -q https://github.com/BurntSushi/ripgrep/releases/download/14.1.0/ripgrep-14.1.0-x86_64-apple-darwin.tar.gz
        wget -q https://github.com/BurntSushi/ripgrep/releases/download/14.1.0/ripgrep-14.1.0-x86_64-pc-windows-gnu.zip
        tar -xvf ripgrep-14.1.0-x86_64-unknown-linux-musl.tar.gz
        rm ripgrep-14.1.0-x86_64-unknown-linux-musl.tar.gz
        tar -xvf ripgrep-14.1.0-x86_64-apple-darwin.tar.gz
        rm ripgrep-14.1.0-x86_64-apple-darwin.tar.gz
        unzip ripgrep-14.1.0-x86_64-pc-windows-gnu.zip
        rm ripgrep-14.1.0-x86_64-pc-windows-gnu.zip
        cd ..
        poetry run blint sbom -i bintests -o reports/bom.json --deep
        poetry run blint sbom -i gobintests -o reports/bom.json --deep
        poetry run blint sbom -i rusttests -o reports/bom.json --deep
      env:
        SCAN_DEBUG_MODE: "debug"
      shell: bash
