name: Upload Package

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          
      - name: Verify Project TOML Version
        id: prep
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          poetry install --no-cache --without dev
          echo "version=$(poetry version -s)" >> $GITHUB_OUTPUT
          
      - name: Release PyPI
        if: steps.prep.outcome == 'success'
        run: |
          # poetry run pytest
          poetry publish --build --username $PYPI_USERNAME --password $PYPI_PASSWORD
        env:
          PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
          PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
          
      - name: Create Release
        id: create_release
        if: steps.prep.outcome == 'success'
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
